@import "tailwindcss";

.content-textarea {
    width: 100%;
    max-height: 200px;
    resize: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    field-sizing: content;
    border-radius: 30px;
    padding: 10px 14px;
    outline: none;
    box-shadow: 0px 4px 16px rgba(17, 17, 26, 0.1),
        0px 8px 24px rgba(17, 17, 26, 0.1), 0px 16px 56px rgba(17, 17, 26, 0.1) !important;
}

.content-textarea:focus {
    border: 1.5px solid transparent;
    background-image: linear-gradient(white, white),
        linear-gradient(
            90deg,
            rgb(75, 85, 255),
            rgb(5, 231, 118),
            rgb(208, 16, 16)
        ) !important;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    transition: all 0.3s ease;
}
.content-textarea::placeholder {
    color: #a1a1aa;
    font-size: 10px;
    font-weight: 400;
}
