/* Icon CSS */

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
textarea {
    font-family: "Lato", sans-serif;
}

.main-content-contaier {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 500;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

.main-icon {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff !important;
}

.main-icon:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}

/* prompt cards */

.prompt-card-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.demo-prompt-container {
    position: relative;
    margin-inline: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;
}

.promt-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    border-radius: 16px;
    border: 1px solid #ccc;
    border-color: #e5e5e5;
    padding: 8px;
    transition: box-shadow 0.3s;
}

.promt-card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card-line {
    position: absolute;
    top: 0;
    width: calc(100% - 25px);
    border-radius: inherit;
    margin-inline: auto;
    height: 2px;
}

.line1 {
    background: linear-gradient(to right, transparent, #ea580c, transparent);
}

.line2 {
    background: linear-gradient(to right, transparent, #16a34a, transparent);
}

.prompt-card-click {
    position: absolute;
    inset: 0;
    border-radius: inherit;
    cursor: pointer;
}

/* navbar CSS */

.content-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1.5px solid #e5e5e5;
}

.content-navbar-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.content-navbar-left img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.content-navbar-right {
    display: flex;
    align-items: center;
}

.content-max-btn,
.ellipsis-container {
    padding: 8px;
    border-radius: 5px;
}

.content-max-btn:hover,
.ellipsis-container:hover {
    background-color: #e5e5e5;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* below the button */
    right: 0;
    background-color: white;
    min-width: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: flex;
    align-items: center;
    border-radius: inherit;
    cursor: pointer;
    gap: 0.5rem;
    width: 100%;
    padding: 10px;
    font-size: 12px;
    color: black;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

/* Content CSS */
.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 6px;
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 1000;
}

.blob-effect {
    position: absolute;
    border-radius: 50%;
    border-radius: inherit;
    filter: blur(25px);
    z-index: -1;
}

.effect-1 {
    background-color: #e9d5ff;
    top: 3rem;
    right: -10px;
    width: 4rem;
    height: 6rem;
}

.effect-2 {
    background-color: #fef3c7;
    top: 4rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
}

.content-no-model {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #262626;
    padding: 12px;
    text-align: center;
}

.content-no-model p {
    font-size: 12px;
    color: #2e2d2d;
    max-width: 36ch;
}

.content-send-btn {
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: rgb(0, 87, 255) !important;
    padding: 10px;
    border-radius: 50%;
}

.content-chat {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    color: #262626;
    padding-top: 5px;
}

.user-chat-container {
    display: flex;
    margin-right: 6px;
    max-width: 80%;
    margin-left: auto;
}

.user-chat {
    display: inline-block;
    margin-left: auto;
    font-size: 12px;
    color: #ffffff;
    background-color: #2563eb;
    padding: 0.3rem 0.6rem;
    border-radius: 16px;
    border-bottom-right-radius: 0px;
    margin-bottom: 1rem;
}

.ai-response {
    color: #262626;
    margin-right: 6px;
    border-width: 1.3px;
    font-size: 12px;
    border-color: #d4d4d8;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 1.2rem;
}

.loader-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.accordion-item {
    border-bottom: 2px solid #d4d4d8;
}

.accordion-trigger {
    color: #262626;
}

.content-form {
    position: relative;
    margin-top: auto;
}

/* scroll bar  */

.content-chat::-webkit-scrollbar {
    width: 4px;
    background-color: #ffffff;
}

.content-chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d4d4d4;
}
