/* Icon CSS */

.main-content-contaier {
    position: fixed;
    bottom: 28px;
    right: 28px;
    z-index: 500;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
}

.main-icon {
    cursor: pointer;
    display: flex;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffffff !important;
}

.main-icon:hover {
    scale: 1.05;
    transition: all 0.3s ease;
}

/* Content CSS */
.content-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 1rem;
    border-radius: 8px;
    padding: 6px;
    transition: width 0.3s ease;
}

.content-form {
    position: relative;
    margin-top: auto;
}

.content-navbar {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}

.content-max-btn {
    padding: 8px;
    border-radius: 5px;
}

.content-max-btn:hover {
    background-color: #e5e5e5;
}

.content-send-btn {
    position: absolute;
    bottom: 10px;
    right: 8px;
    background-color: rgb(0, 87, 255) !important;
    padding: 10px;
    border-radius: 50%;
}

.content-chat {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    color: #262626;
    margin-bottom: 6px;
}

.user-chat-container {
    display: flex;
    margin-right: 6px;
}

.user-chat {
    display: inline-block;
    margin-left: auto;
    font-size: 12px;
    color: #ffffff;
    background-color: #2563eb;
    padding: 0.3rem 0.6rem;
    border-radius: 16px;
    margin-bottom: 1.2rem;
}

.ai-response {
    color: #262626;
    margin-right: 6px;
    border-width: 1.3px;
    font-size: 12px;
    border-color: #d4d4d8;
    background-color: #f5f5f5;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 1.2rem;
}

.accordion-item {
    border-bottom: 2px solid #d4d4d8;
}

.accordion-trigger {
    color: #262626;
}

/* scroll bar  */

.content-chat::-webkit-scrollbar {
    width: 6px;
    background-color: #ffffff;
}

.content-chat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #d4d4d4;
}
